body{
font-family: Arial;
text-align:center;
background:#f5f5f5;
}

input{
padding:10px;
margin:10px;
}

button{
padding:10px 15px;
cursor:pointer;
}

#pokemonData{
margin-top:20px;
background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
}